$primary-color-dark:   #1A1A1A;
$primary-color:        #FFFFFF;
$primary-color-light:  #535353;
$primary-color-text:   #FFFFFF;
$accent-color:         #1fbad6;
$primary-text-color:   #000;
$secondary-text-color: #c0c0c0;
$divider-color:        #f8f8f9;
$additional-color-one: #4664c3;
$additional-color-one-a11y:#5d7fe8;
$additional-color-two: #86dbc1;




// https://www.materialpalette.com/indigo/red
/*
$primary-color-dark:   #303F9F;
$primary-color:        #3F51B5;
$primary-color-light:  #C5CAE9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
*/

// https://www.materialpalette.com/green/pink
/*
$primary-color-dark:   #388E3C;
$primary-color:        #4CAF50;
$primary-color-light:  #C8E6C9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
*/
